langchain
langchain-community
pypdf
python-docx
faiss-cpu
sentence-transformers
transformers
huggingface_hub
aisuite[all]
gradio
python-dotenv
notion-client
notion2md
markdown
xhtml2pdf
notion-client
notion2md
markdown
xhtml2pdf
